@tailwind base;
@tailwind components;
@tailwind utilities;
.react-calendar {
  border: none;
  width: 100%;
}

.react-calendar__tile {
  height: 90px;
  border-radius: 12px;
}

.react-calendar__tile--now {
  background: #eef2ff;
}
